@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --custom-red: #c73b0f;
  --custom-rose-900: #260f08;
  --custom-rose-500: #87635a;
  --custom-rose-400: #ad8a85;
  --custom-rose-300: #caafa7;
  --custom-rose-100: #f5eeec;
  --custom-rose-50: #fcf8f6;
  --custom-green: #1ea575;
}

body{
  background-color: var(--custom-rose-50);
}